@media (max-width: 991px){
    .main_header .logo_container {
        padding-right: 73px;
    }

    .inner_hero_area{
        padding: 70px 0 105px;
    }

    .inner_hero_area .hero_content .para{
        font-size: 38px;
        line-height: 38px;
    }
    
    .inner_hero_area .hero_content .sub_para{
        font-size: 18px;
        line-height: 38px;
    }

    .inner_hero_area .hero_content{
        flex: 0 0 40%;
        max-width: 40%;
    }

    .inner_hero_area .hero_banner_img{
        flex: 0 0 60%;
        max-width: 60%;
    }

    .inner_info_recharge{
        padding: 30px 0;
    }

    .inner_info_recharge .info_recharge_content .recharge_content_header{
        padding-right: 20px;
        word-wrap: break-word;
        text-align: justify;
        font-size: 30px;
        line-height: 36px;
    }

    .inner_insurance_benefit .benefit_column{
        padding: 30px 20px;
    }

    .inner_insurance_benefit .benefit_column .benefit_content .benefit_title{
        font-size: 24px;
    }
}

@media (max-width: 767px){

    .main_header .logo_container img{
        max-width: 160px;
    }

    header .container{
        padding: 0;
    }

    .main_header{
        padding: 15px 20px;
    }

    .hamburger{
        display: block;
        right: 20px;
    }
    
    .menu_container .menu_links{
        position: absolute;
        display: block;
        left: 0;
        height: 100vh;
        top: 0;
        width: 300px;
        background: #c7222a;
        padding: 25px 15px;
        transition: 0.65s ease-in-out all;
        left: -300px;
        z-index: 101;
    }

    .menu_container .menu_links.show_menu_links{
        left: 0;
    }

    .menu_container .menu_links li.closeLink{
        display: block;
        text-align: right;
        margin-bottom: 25px;
        cursor: pointer ;
    }

    .menu_container .menu_links li.closeLink span{
        padding: 8px;
        font-size: 12px;
        color: #fff;
        background: #da9089;
    }

    .menu_container .menu_links li{
        margin-bottom: 15px;
        padding-right: 0 !important;
    }

    .header_title .page_title{
        padding: 10px 20px;
        font-size: 20px;
    }

    .header_title .page_sub_title{
        padding: 6px 20px;
        font-size: 14px;
    }

    .hero_area{
        padding-top: 188px;
    }

    .inner_hero_area{
        flex-direction: column-reverse;
    }

    .inner_hero_area .hero_content, .inner_hero_area .hero_banner_img{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_hero_area .hero_content{
        margin-top: 30px;
        text-align: center;
    }

    .inner_hero_area {
        padding: 30px 0 95px;
    }

    .top_sticky_img img{
        max-width: unset !important;
        width: 250px;
    }

    .inner_info_recharge{
        flex-direction: column;
    }

    .inner_info_recharge .info_recharge_img{
        flex: 0 0 70%;
        max-width: 70%;
    }

    .inner_info_recharge .info_recharge_content{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 35px;
    }

    .inner_insurance_benefit{
        flex-wrap: wrap;
    }

    .inner_insurance_benefit .benefit_column{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer_area{
        padding: 45px 0;
    }
}

@media (max-width: 576px){

    .insurance_benefit_area{
        padding: 40px 0;
    }

    .benefit_know_more{
        margin-top: 40px;
    }

    .sec_header .title{
        font-size: 28px;
        line-height: 38px;
        color: #000;
        font-family: 'PF Handbook Pro Bold';
        text-align: center;
        margin-bottom: 25px;
    }

    .inner_hero_area .hero_content .para{
        font-size: 30px;
        line-height: 30px;
    }
    
    .inner_hero_area .hero_content .sub_para{
        font-size: 16px;
        line-height: 16px;
    }

    .inner_info_recharge .info_recharge_img, .inner_info_recharge .info_recharge_content{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .inner_info_recharge .info_recharge_content .recharge_content_header{
        padding-right: 20px;
        word-wrap: break-word;
        word-break: break-all;
        text-align: left;
        font-size: 24px;
        line-height: 30px;
    }

    .inner_insurance_benefit .benefit_column{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer_header{
        text-align: center;
    }

    .footer_header img{
        position: unset;
    }
    .footer_content{
        text-align: justify;
        word-break: break-all;
    }
}