html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Font Files */
@font-face {
    font-family: 'PF Handbook Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PF Handbook Pro Regular'), url('../fonts/PFHandbookProRegular.woff') format('woff');
}
    
@font-face {
    font-family: 'PF Handbook Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('PF Handbook Pro Thin'), url('../fonts/PFHandbookProThin.woff') format('woff');
}

@font-face {
    font-family: 'PF Handbook Pro Black';
    font-style: normal;
    font-weight: normal;
    src: local('PF Handbook Pro Black'), url('../fonts/PFHandbookProBlack.woff') format('woff');
}
    
@font-face {
    font-family: 'PF Handbook Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PF Handbook Pro Bold'), url('../fonts/PFHandbookProBold.woff') format('woff');
}
@font-face {
    font-family: 'PF Encore Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PF Handbook Pro Bold'), url('../fonts/PFEncoreSansProRegular.woff') format('woff');
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'PF Handbook Pro Regular';
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    max-width: 1285px;
}

/* Overlay */
.overlay{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    display: block;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.65s ease-in-out all;
}
.overlay.show_overlay{
    left: 0;
    opacity: 0.6;
    visibility: visible;
}

/* Common Header every section */
.sec_header .title{
    font-size: 32px;
    line-height: 40px;
    color: #000;
    font-family: 'PF Handbook Pro Bold';
    text-align: center;
    margin-bottom: 25px;
}

/* Header Css */

/* header{
    position: fixed;
    width: 100%;
} */

.main_header, .menu_container .menu_links{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.main_header{
    padding: 15px 45px;
    background: #c7222a;
    position: relative;
}

.main_header .logo_container{
    padding-right: 125px;
}

.menu_container .menu_links li.closeLink{
    display: none;
}

.menu_container .menu_links li:not(:last-child){
    padding-right: 45px;
}

.menu_container .menu_links li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 8px;
}


.menu_container .menu_links li.active a{
    border-bottom: 1px solid #fff;
}

.hamburger{
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.hamburger svg{
    font-size: 30px;
    color: #fff;
}


.header_title .page_title{
    background: #da9089;
    color: #fff;
    font-size: 26px;
    font-family: 'PF Handbook Pro Bold';
    padding: 15px 15px 15px 125px;
}

.header_title .page_sub_title{
    background: #6a4742;
    padding: 8px 8px 8px 125px;
    font-size: 18px;
    color: #fff;
}


/* Hero */

.hero_area{
    background-image: url('../image/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 168px;
    position: relative;
    margin-top: -168px;
    width: 100%;
    z-index: -1;
}

.inner_hero_area{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 70px 40px 105px;
}

.inner_hero_area .hero_content, .inner_hero_area .hero_banner_img{
    flex: 0 0 50%;
    max-width: 50%;
}

.inner_hero_area .hero_content{
    /* padding-right: 70px; */
}

.inner_hero_area .hero_content .para{
    font-size: 48px;
    line-height: 48px;
    color: #fff;
}

.inner_hero_area .hero_content .para .orange_text{
    color: #faa619;
}

.inner_hero_area .hero_content .sub_para{
    font-size: 24px;
    line-height: 44px;
    margin-top: 25px;
    color: #fff;
}

.inner_hero_area .hero_banner_img{
    position: relative;
}

.inner_hero_area .hero_banner_img .top_sticky_img{
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}

.inner_hero_area .hero_banner_img .main_banner_img{
    text-align: right;
}


/* Info Section Css */
.inner_info_recharge{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 30px 0;
}

.inner_info_recharge .info_recharge_img,
.inner_info_recharge .info_recharge_content{
    flex: 0 0 50%;
    max-width: 50%;
}

.inner_info_recharge .info_recharge_img{
    position: relative;
    -webkit-animation:glide 2s ease-in-out alternate infinite;
}



@-webkit-keyframes glide{
    from {
       left:0px;
       top:0px;
    }
    
    to {
       left:0px;
       top:20px;
    }
 
 }

.inner_info_recharge .info_recharge_content .recharge_content_header{
    font-size: 32px;
    font-family: 'PF Handbook Pro Bold';
    line-height: 40px;
    padding-right: 102px;
    margin-bottom: 35px;
}

.inner_info_recharge .info_recharge_content .recharge_list{
    font-size: 18px;
    list-style: disc;
    padding-left: 18px;
}

.inner_info_recharge .info_recharge_content .recharge_list li{
    list-style: disc;
    margin-bottom: 10px;
    color: #363636;
}

.inner_info_recharge .info_recharge_content .recharge_list li .subTxt{
    font-size: 13px;
}

/* Insurance Benefit area */
.insurance_benefit_area{
    padding: 75px 0;
    background: #ffe3e1;
}

.inner_insurance_benefit{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.inner_insurance_benefit .benefit_column{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 30px 40px 60px;
    text-align: center;
    transition: 0.3s ease-in-out all;
    border-radius: 3px;
}

.inner_insurance_benefit .benefit_column:hover{
    background: #fff;
    box-shadow: 2px 2px 5px #e6e6e6;
}

.inner_insurance_benefit .benefit_column .benefit_content{
    margin-top: 30px;
}

.inner_insurance_benefit .benefit_column .benefit_content .benefit_title{
    font-size: 28px;
    color: #000;
    line-height: 26px;
    margin-bottom: 10px;
}

.inner_insurance_benefit .benefit_column .benefit_content .benefit_para{
    font-size: 16px;
    line-height: 20px;
    color: #363636;
    font-family: 'PF Encore Sans Pro Regular';
}

.benefit_know_more{
    margin-top: 70px;
    text-align: center;
}

.benefit_know_more a{
    text-decoration: none;
    color: #c7212b;
    font-size: 28px;
    line-height: 40px;
    font-family: 'PF Handbook Pro Bold';
    border-bottom: 2px solid #c7212b;
}

/* Footer Css */
.footer_area{
    background: #7c7c7b;
    padding: 45px;
}

.footer_header{
    position: relative;
}

.footer_header img{
    position: absolute;
    top: 0;
    left: 0;
}

.footer_header .footer_title{
    font-size: 18px;
    color: #fff;
    font-family: 'PF Encore Sans Pro Regular';
    text-align: center;
    padding-top: 15px;
}

.footer_content{
    margin-top: 25px;
}